<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">  
  <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav mx-auto">
          <a href="#" class="nav-item nav-link">Cows</a>
          <a href="#" class="nav-item nav-link">Horses</a>
          <a href="#" class="nav-item nav-link">Sheep</a>
          <a href="#" class="nav-item nav-link">Goats</a>
          <a href="#" class="nav-item nav-link">Chickens</a>
      </div>
  </div>
</nav>

<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Gender</th>
      <th scope="col">Color</th>
      <th scope="col">Sick?</th>
      <th scope="col">Pregnant?</th>
      <th><button type="button" class="btn btn-info">Details</button></th>
    </tr>
  </thead>
</table>
